// BR Moto Sport - Swiper de Depoimentos
// Arquivo: src/scss/swiper-depoimentos.scss

@import "variables";
.swiper-depoimentos .swiper-pagination-bullet {
  background: white !important;
  opacity: 0.3;
}

.swiper-depoimentos .swiper-pagination-bullet-active {
  background: #e4002b !important;
  opacity: 1;
}
